button{
  outline: none !important;
}

button:hover{
  outline: none !important;
}

button:focus{
  outline: none !important;
}

button:active{
  outline: none !important;
}

.cover-photo {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  overflow: hidden;
  z-index: -1;
}

.cover-photo > img {
  width: 100vw;
}

.modal-bg {
  margin-top: 17rem;
  margin-left: 6rem;
  margin-right: 6rem;
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}

.action-buttons {
  margin-top: 16px;
}

.addapt-visual {
  margin-top: -48px;
}

.cards {
  margin-top: 1rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

.icon {
  font-size: 24px;
  color: #F5Ad31; 
  margin-right: 8px;
}

.my-card {
  min-height: 308px;
  border: 0px;
  margin-top: 40px;
}

.inside-mytrip {
  background-color: #fff;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
  padding-bottom: 24px;
}

.logout-btn {
  z-index: 10;
}

.close-tag {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 24px;
  color: #fff;
  z-index: 10
}
.close-tag:hover {
  color: #9B3200;
}

.destiny-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.btn-div {
  margin-top: 50px
}

input{
  outline: none !important;
}

input:hover{
  outline: none !important;
}

input:focus{
  outline: none !important;
}

input:active{
  outline: none !important;
}

select{
  outline: none !important;
}

select:hover{
  outline: none !important;
}

select:focus{
  outline: none !important;
}

select:active{
  outline: none !important;
}

.edit-input {
  width: 100% !important
}

.modal-main {
  display: flex;
  justify-content: center;
}

.edit-form {
  width: 80%;
}

.edit-btn {
  margin-left: 4em !important;
}
